<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Image Restoration Project</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <!-- Link to CSS -->
  </head>
  <body>
    <div class="container">
      <!-- Center content using flexbox -->
      <h1>Image Restoration Project</h1>
      <!-- Bold, dark grey -->
      <h2>Welcome! Choose an option:</h2>
      <!-- Grey -->
      <button onclick="window.location.href='/upload'">
        Restore Image Color
      </button>
      <!-- Teal button -->
    </div>
  </body>
</html>
