<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upload Image</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <script>
      function previewFile() {
        const fileInput = document.querySelector('input[type="file"]');
        const preview = document.getElementById("image-preview");

        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.addEventListener(
          "load",
          () => {
            preview.src = reader.result;
            preview.style.display = "block"; // Show the preview image
          },
          false
        );

        if (file) {
          reader.readAsDataURL(file);
        } else {
          preview.style.display = "none"; // Hide if no file is selected
        }
      }
    </script>
  </head>

  <body>


    <div class="container">
      <div id="spacer-div" style="width: 100%; height: 155px;"></div>
      <h2>UPLOAD AN IMAGE</h2>
      <!-- Image preview area (Hidden by default) -->
      <img
        id="image-preview"
        class="preview-image"
        alt="Image Preview"
        style="display: none;"
      />
      <form action="/upload?style={{ style }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="style" value="{{ style }}">  <!-- Preserve style -->
        
        <div class="file-input-wrapper">
            <label class="custom-file-label" onclick="document.querySelector('.custom-file-input').click()">
                Choose File
            </label>
            <input type="file" name="file" class="custom-file-input" onchange="previewFile()">
        </div>
    
        <button type="submit">Upload</button>  <!-- Submit button -->
    </form>
    
    
    </div>
  </body>
</html>
